<p>
  <span class="badge text-bg-warning"><%= link_to "Delete Comment", 
  [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </span>
</p>
