<hr>
<div class="container border py-3 my-3", style="text-align: left;">
  <div class="text-bg-info p-3">
    <h1>Registered users</h1>
    Our blog has <%= User.count %> users!
  </div>
</div>
<div class="container border py-3 my-3", style="text-align: left;">
  <ol class="list-group-numbered">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= gravatar_for(user, size: 20) %>&nbsp<%= link_to user.email, user %>
        <% if current_user.admin? %>
          <span class="badge text-bg-warning">
            <%= link_to "Delete user", user, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
          <% end %>
        </span>
      </li>
      <br>
    <% end %>
  </ol>
</div>
