<div class="container border py-3 my-3">
  <div class="text-bg-info p-3">
    <div class="row">
      <div class="col">
        <%= gravatar_for @user %><br>
        <%= @user.email %>
      </div>
      <div class="col-6" style="text-align: left">
        <span class="badge text-bg-warning"><% if user_signed_in? and current_user == @user || current_user.admin? %>
          <%= link_to "Delete profile", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
        <% end %></span>
      </div>
    </div>
  </div>
</div>
