<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="container border py-3 my-3", style="text-align: left;">
      <div class="text-bg-info p-3">
        <%= msg %>
      </div>
    </div>
  <% end %>
<% end %>
